.centerAll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titlePost{
    padding-top: 2%;
}
.dotRemover{
    list-style: none;
}
#spacing{
    margin-top: 7%;
}