.centerAll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titlePost{
    margin-right: 5%;
    padding-bottom: 3%;
}
.flex-item{
    width: 25%;
}

.likes{
    padding-top: 10%;
}
.dotRemover{
    list-style: none;
}